amqp==1.4.9
anyjson==0.3.3
apipkg==1.5
aspy.yaml==1.1.1
atomicwrites==1.2.1
attrs==18.2.0
awsebcli==3.14.6
beautifulsoup4==4.6.3
billiard==3.3.0.23
blessed==1.15.0
boto==2.49.0
boto3==1.9.16
botocore==1.12.16
bs4==0.0.1
cached-property==1.5.1
celery==3.1.26.post2
cement==2.8.2
cfgv==1.1.0
colorama==0.3.9
coverage==4.5.1
Cython==0.28.5
Django==2.1.2
django-cors-headers==2.4.0
django-memoize==2.1.1
django-storages==1.7.1
djangorestframework==3.8.2
docker==3.5.0
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
execnet==1.5.0
identify==1.1.6
jmespath==0.9.3
jsonschema==2.6.0
kombu==3.0.37
Markdown==3.0.1
mock==2.0.0
more-itertools==4.3.0
nodeenv==1.3.2
numpy==1.15.2
pathspec==0.5.5
pbr==4.2.0
pendulum==2.0.3
pluggy==0.7.1
pre-commit==1.11.1
psycopg2-binary==2.7.5
py==1.6.0
Pygments==2.2.0
PyStaticConfiguration==0.10.3
pytest==3.8.2
pytest-cov==2.6.0
pytest-forked==0.2
pytest-sugar==0.9.1
pytest-xdist==1.23.2
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5
PyYAML==3.13
readme2tex==0.0.1b2
requests==2.9.1
s3transfer==0.1.13
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
toml==0.9.6
tox==3.4.0
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
websocket-client==0.53.0
